 {% extends 'bases.html' %} {% block content %}
<section id="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_12  "><br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="1" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        La mission de son Fondateur
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Fondée par XXX, détenteur d’un baccalauréat en commerce et œuvrant, depuis plus de 34 ans comme Chef des Opérations (C.O.O), dans plusieurs entreprises du secteur de l’innovation technologique. XXX a développé tout au long de sa carrière une expertise
                            en développement technologique et en gestion de brevet et de marque de commerce. Il a réalisé une cinquantaine de mandats professionnels en financement de projet, en recherche et développement et en veilles technologiques.
                            Par son expérience XXX reconnaît l’importance et l’avantage de protéger une invention. En 2005, alors qu’il était le cofondateur de VoxlIb Inc, il a financé le dépôt de son brevet dans un grand bureau d’avocat spécialisé au
                            cout de 22.000 dollars. Ce brevet lui a permis de remporter des financements de capital de risque de 15 million de dollars. Afin de protéger leur invention, les inventeurs doivent assumer des coûts faramineux auprès des bureaux
                            d’avocats ou d’agences de brevet. C’est dans cette optique que notre fondateur a eu l’idée de concevoir un organisme sans but lucratif, qui permet enfin à tous les inventeurs d’obtenir leurs brevets canadiens, américains et
                            internationaux à une fraction des prix chargés par les agences de brevets conventionnelles. C’est ainsi qu’est née la Fédération des Inventeurs du LA COTE D'IVOIRE. La Fédération s’est donnée comme mission, auprès des inventeurs,
                            de fournir des services professionnels, d’offrir les ressources essentielles et de faciliter l’ensemble des étapes nécessaires à la protection et à la promotion de leurs inventions à des coûts très raisonnables.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="2" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Inscription membres
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            LES DIFFERENTES OFFRES
                        </p>
                    </div>
                </div>
                <br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="3" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Reconnaissance & Partenaires
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            PARTENAIRES & QUELQUES PRIX
                        </p>
                    </div>
                </div><br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="4" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Communiqué & Document
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            LES SUPPORTS PDF
                        </p>
                    </div>
                </div><br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="5" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Brevets marquants en Cote d'Ivoire
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            LES INVENTIONS LES PLUS MARQUANTES
                        </p>
                    </div>
                </div><br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="6" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Rencontre
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Demeurez au fait des enjeux et des meilleures pratiques dans le secteur de l’invention et de l’innovation grâce aux conférences gratuites conçues pour vous accompagner dans la gestion de votre entreprise. Assister aux rencontres mensuelles de la Fédération
                            des inventeurs. Chaque rencontre est d’une durée d’une heure. Précédé par une période de question de 20 minutes quel vous pourrez poser aux experts invitées.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock content %}