{% extends 'bases.html' %} {% block content %}
<section id="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>Nos institutions</h3>

                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="1" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Salon ABIDJAN INNOVA.
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            C'est quoi exactement le salon INNOVA? Quelle est sa place dans la communité Ivoirinne et internationale? <br>Pour accéder au site cliquez <a href="https://innova-ci.herokuapp.com/" target="_blank">ici</a>
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="2" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        FOGAPI
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            En quoi consiste la FOGAPI?
                        </p>
                    </div>
                </div>
                <br>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="3" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        AGINNOV
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Présentation et role de AGINNOV
                        </p>
                    </div>
                </div>
                <br>


            </div>
        </div>
    </div>
</section>
{% endblock content %}