{% extends 'bases.html' %} {% block content %}
<section id="content">

    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3>Prix inventeurs et Lauréats</h3>

                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="1" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        PRIX FEDINCI
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium impedit laboriosam dignissimos est quos esse, aut officiis molestias praesentium. Vel alias, reprehenderit earum natus cupiditate neque veritatis blanditiis ducimus magni.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="2" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        PRIX ASCAD
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, excepturi sit facilis quaerat corporis, officiis ipsa quidem beatae nulla enim culpa ipsam pariatur nobis. Sit harum sequi quia ullam voluptatibus!
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="3" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        PRIX ALASSANE DRAMANE OUATTARA </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, excepturi sit facilis quaerat corporis, officiis ipsa quidem beatae nulla enim culpa ipsam pariatur nobis. Sit harum sequi quia ullam voluptatibus!
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="4" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        PRIX DE L'INTEGRATION AFRICAINE
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint eius itaque adipisci provident modi. Magnam, architecto, quo dolorem ipsum vitae eos accusamus unde velit libero nesciunt cupiditate expedita minus.
                        </p>
                    </div>
                </div>
                <br/>
                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="5" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        NOS LAUREATS
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sint eius itaque adipisci provident modi. Magnam, architecto, quo dolorem ipsum vitae eos accusamus unde velit libero nesciunt cupiditate expedita minus.
                        </p>
                    </div>
                </div>
                <br/>



            </div>
        </div>
    </div>
</section>
{% endblock content %}