{% extends 'bases.html' %} {% block content %}
<section id="content">
    <div class="ic">More Website Templates @ TemplateMonster.com - July 28, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_12">

                <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
                    <div id="5" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                        Votre protection
                    </div>
                    <div class="card-body ">

                        <p class="card-text" style="line-height: 3em; font-family: cursive;">
                            FORMULAIRE POUR CHAQUE TYPE DE PROTECTION
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock content %}