{% extends 'bases.html' %} {% block content %}

<head>
</head>
<section id="content" class="container-fluid">

    <div class="row ml-5">
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service1" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                STRATEGIE D'ACCOMPAGNEMENT
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br/>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service2" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                RECONNAISSANCE & CERTIFICATS
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service3" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                SERVICE CONSEIL
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service4" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                SERVICE IMPRIMANTE 3D
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service5" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                SERVICE PROFESSIONNEL
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service6" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                SERVICE AIDES SUBVENTIONS
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
        <div class="card  shadow-lg p-3 mb-5 bg-white rounded" style="box-shadow: 10px 5px 5px orange;">
            <div id="service7" class="card-header text-light" style="background: green; font-size: 2em;font-weight: bolder;">
                EVENEMENTS & FORMATIONS
            </div>
            <div class="card-body ">

                <p class="card-text" style="line-height: 3em; font-family: cursive;">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure consequatur eveniet dicta omnis consequuntur optio mollitia? Nam quos sint dolorem culpa exercitationem commodi ratione. Vel tempore nostrum delectus repudiandae quidem?
                </p>
            </div>
        </div>
        <br>
    </div>
</section>
{% endblock content %}