{% extends 'bases.html' %} {% block content %}


<section id="content">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h3 style="color: green; font-weight: bold;"> <big>Vidéos et Médias</big></h3>
                <hr>
                <h3 style="color: red; font-weight: bold; font-style: italic;"> <big>Evènements récents en vidéos</big></h3>

                <section>
                    <div class="row">
                        <div class="col-md-12">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/O52F1ygUaFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
{% endblock content %}